/* Estilização do Banner*/
.banner {
  height: 284px;
  background-image: url(../images/banner-image.jpg);
  background-size: cover;
  background-position: center 25%;
}

/* Seção Sobre Nós*/

.about_us {
  margin: 0;
  text-align: justify;
  width: 60%;
  margin-left: 20%;
}

.image_about_us {
  width: 473px;
  padding: 10px;
  float: left;
  margin-right: 25px;
  border-radius: 25px;
}

.title_default {
  text-align: center;
  padding: 10px 10px 0px 10px;
  font-style: italic;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: #2a4f3d;
  font-size: 35pt;
}

.subtitle_default {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20pt;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #d4af37;
}

.p_about_us {
  font-family: "Lora", serif;
  color: #8b6b4d;
  font-size: 18pt;
  margin-top: 40px;
  line-height: 30px;
  letter-spacing: 1px;
  
}

/* Seção nosso estabelecimento*/

.map_location {
  width: 1056px;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
}

.map {
  margin: 0 auto;
  display: block;
  border-radius: 25px;
}

/* Seção nossos serviços */

.image_our_services {
  width: 535px;
  height: 301px;
  border-radius: 25px;
}

.our_services {
  margin: 0;
  text-align: justify;
  width: 100%;
}

.div_our_services {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.ul_our_services {
  font-family: "Lora", serif;
  color: #8b6b4d;
  font-size: 20pt;
  margin-top: 70px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  letter-spacing: 1.5px;
}

.ul_our_services li:before {
  content: "★ ";
  color: #2a4f3d;
  width: 1px;
}

.video {
  width: 1056px;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
  margin-bottom: 50px;
}
