  .title_default {
    text-align: center;
    padding: 10px 10px 0px 10px;
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: #2a4f3d;
    font-size: 35pt;
  }

  /*Tabela de encomendas*/
  table{
    width: 100%;
    margin-bottom: 2%;
    table-layout: fixed;
  }

  td, th {
    padding: 10px;
    margin: 0;
    border: 1px solid #d4af37;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #2a4f3d;
  }

/* Formulário */
form{
	margin-top: 20px;
  margin-bottom: 0;
}


form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}


.form_pedido{
  margin-left: 5%;
}

.bloco{
    display: flex;
    gap: 5%;
}

.bloco_nome, .bloco_qtd, .bloco_pedido, .bloco_unitario{
    display: flex;
    flex-direction: column;
}

.bt{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #9a5833;
    color: white;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}

/* caixa */
input, select{
    padding: 6px;
    border-radius: 5px;
    border: none;
}

/* Efeito para linha sumir quando excluida */
.fadeOut{
  opacity: 0;
  transition: 1s;
}

/* Campo de Busca */
#filtrar-tabela {
  width: 19.5%;
  height: 35px;
  margin-bottom: 10px;
}

/* Esconde a linha para a busca */
.invisivel {
  display: none;
}