/* Footer */

footer {
  background-color: #2a4f3d;
  color: #ffffff;
  height: 202px;
  font-family: "Lora", serif;
}

.title_footer {
  font-size: 30pt;
}
.contact_footer {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 55px;
}

.contatos {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 80px;
  font-size: 15pt;
  font-style: italic;
}

footer li {
  display: inline;
}

footer a {
  color: #ffffff;
}
