/* Estilização do header da página */
header {
  background-color: #2a4f3d;
  height: 202px;
}

/* Estilização da Logo */
.logo {
  height: 202px;
  margin-left: 70px;
}

/* Estilização da nav-bar */
.navbar {
  display: flex;
  font-size: 28px;
  gap: 20px;
  top: 60px;
  position: absolute;
  font-family: "Cormorant Garamond", serif;
  right: 10px;
  z-index: 1;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #d4af37;
  font-family: "Cormorant Garamond", serif;
  font-size: 40pt;
  top: 20px;
  margin-right: 20px;
  padding: 10px;
}

.navbar a:hover {
  background-color: #2e5743;
  border-radius: 25px;
}

/* LINKS (versão desktop) */

.menu-btn {
  background: none;
  border: none;
  font-size: 25px;
  display: none;
}

/* Versão mobile */

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    background: none;
    border: none;
    color: #d4af37;
    z-index: 1;
  }

  .menu-icon.open, .menu-icon.close {
    color: #d4af37;
  }

  .navbar {
    position: fixed;
    line-break: 10px;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a4f3d;
    transition: right 0.3s ease;
  }

  .navbar a {
    text-align: center;
    font-size: 25px;
    padding: 5px 30px 5px 30px;
    
  }

  .navbar a:hover {
    background-color: #2e5743;
    
  }

  .navbar.active {
    right: 0;
    transition: right 0.3s ease
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }
}
